<div class="container p-4">
  <h2>Upload Process JSON</h2>

  <app-process-upload
    (graphParsed)="onGraphParsed($event)"
    (fileSelected)="selectedFile = $event"
    (parseError)="error = $event"
  ></app-process-upload>
  <button type="button" (click)="onSubmit()" [disabled]="!selectedFile">
    Optimize
  </button>

  <div *ngIf="error" class="error mt-3">
    <strong>Error:</strong> {{ error }}
  </div>

  <div *ngIf="warn" class="error mt-3"><strong>Warn:</strong> {{ warn }}</div>

  <div class="result-wrapper" *ngIf="initialProcessGraph as initial">
    <app-process-edge-list
      [graph]="initial"
      title="Initial Path"
    ></app-process-edge-list>
    <app-process-flow [graph]="initial"></app-process-flow>

    <ng-container *ngIf="optimizedProcessGraph as optimized">
      <app-process-edge-list
        [graph]="optimized"
        title="Optimized Path"
      ></app-process-edge-list>
      <app-process-flow
        [graph]="optimized"
        [optimized]="true"
      ></app-process-flow>
    </ng-container>
  </div>
</div>
